/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* common style shared */
* {
    font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    color: #FFF;
    border-radius: 8px;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}
.text-light-gray {
    color: #727272;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* header */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;

}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
}
.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main style */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams style */
.teams-container {
    display: flex;
    align-items: center;
    padding: 50px 50px;
}
.teams-img-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-img-container img {
    width: 100%;
}
.teams-content {
    width: 50%;
    padding-left: 70px;
}
.teams-title {
    font-size: 2.8rem;
    font-weight: 500;
}
.teams-title .quick-list {
    color: #727272;
}
.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}
.teams-content p{
    line-height: 26px;
    margin-bottom: 30px;
}

/* facts section */
.facts {
    padding: 50px;
}
.facts h3 {
    margin-bottom: 0px;
}
.facts > p {
    width: 510px;
    line-height: 26px;
}
.facts-card-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.facts-card-container .card {
    border: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    flex-basis: 2;
}
.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
}
.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
} 

/* sponsors section */
.sponsors {
    padding: 50px;
}
.sponsors-content {
    width: 530px;
    margin: auto;
    text-align: center;
}
.sponsors-content h3 {
    margin-bottom: 0px;
}
.sponsors-content > p {
    line-height: 26px;   
}
.sponsors-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 70px;
    grid-gap: 30px;
}
.sponsors-img img{
    width: 80%;
    margin: auto;
}

/* footer section */
.footer {
    padding: 50px;
}
.footer-container {
    border-radius: 8px;
    background: #FFF4E7;
    padding: 10px 300px;
    text-align: center;
}


/* responsive */
/* header */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
}

/* teams */
/* mobile devices */
@media screen and (max-width: 576px) {
    .teams-container {
        flex-direction: column;
        padding: 30px 10px;
    } 
    .teams-img-container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .teams-content {
        width: 100%;
        padding-left: 0px;
    }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .teams-container {
        flex-direction: column;
        padding: 50px 20px;
    }
    .teams-img-container {
        width: 100%;
    }
    .teams-content {
        width: 100%;
        padding-left: 0px;
    }
}

/* facts section */
@media screen and (max-width: 576px) {
    .facts {
        padding: 30px 10px;
    }
    .facts-card-container {
        flex-direction: column;
        gap: 20px;
    }
    .facts > p {
        width: 340px;
    }
}

/* sponsors section */
@media screen and (max-width: 576px) {
    .sponsors {
        padding: 30px 10px;
    }
    .sponsors-content {
        width: 330px;
    }
    .sponsors-img {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* footer section */
@media screen and (max-width: 576px) {
    .footer {
        padding: 15px;
    }
    .footer-container {
        padding: 5px;
    }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
    .footer-container {
        padding: 15px 70px;
    }
}